@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

::selection {
  background-color: rgba(16, 185, 129, 0.35);
}
