@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

::selection {
  background-color: rgba(99, 102, 241, 0.4);
}
